<script class="poll-results-template" type="text/html">
    <h3 class="poll-header">{{display_name}}</h3>
    <div class="poll-results-wrapper" role="radiogroup" tabindex="0">
        <h4 class="poll-header">{{i18n "Results" }}</h4>

        <div class="survey-grid">

            <div class="survey-grid-row">
                <div class="item">
                    {{{question}}}
                </div>
            </div>


            <div class="survey-grid {{~#if any_img}} has-images{{/if}}">
                <div class="survey-grid-row">
                    <div class="item">
                        <ul>
                            {{#each tally}}

                                {{~#if ../any_img~}}
                                    {{#if img}}
                                        <img src="{{img}}" alt="img_alt" />
                                    {{/if}}
                                    {{{label}}}
                                {{~/if~}}
                                
                                <li>{{{answer}}}</li>
                                <li>
                                    <div class="survey-progress">
                                        <div class="survey-progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="{{percent}}" aria-valuemax="100" style="width: {{percent}}%;">{{percent}}%</div>
                                    </div>
                                </li>

                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <input class="input-main" type="button" name="poll-submit" value="Submit" disabled>
        <div class="poll-footnote">
          {{interpolate (i18n_ngettext "Results gathered from {total} respondent." "Results gathered from {total} respondents." total) total=total}}
        </div>

        {{#if feedback}}
            <hr />
            <h3 class="poll-header">{{i18n "Feedback" }}</h3>
            <div class="poll-feedback">
                {{{feedback}}}
            </div>
        {{/if}}
    </div>
</script>