<script class="survey-results-template" type="text/html">
    <h3 class="poll-header">{{block_name}}</h3>
    <div class="poll-results-wrapper" tabindex="0">
        <h4 class="poll-header">{{i18n "Results" }}</h4>

        <div class="survey-grid">

            {{#each tally}}
                <div class="survey-grid-row">
                    <div class="item">
                        {{#if img}}
                            <img src="{{img}}" alt="img_alt"/>
                        {{/if}}
                        {{{label}}}
                    </div>
                </div>

                <div class="survey-grid-row">
                    <div class="item" aria-labelledby="answer-{{key}}-{{../../block_id}}">
                        <ul>
                            {{#each answers}}
                                <li>{{label}}</li>
                                <li>
                                    <div class="survey-progress">
                                        <div class="survey-progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="{{percent}}" aria-valuemax="100" style="width: {{percent}}%;">{{percent}}%</div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/each}}

        </div>

        <input class="input-main" type="button" name="poll-submit" value="Submit" disabled>
        <div class="poll-footnote">
            {{interpolate (i18n_ngettext "Results gathered from {total} respondent." "Results gathered from {total} respondents." total) total=total}}
        </div>

        {{#if feedback}}
            <hr />
            <h3 class="poll-header">{{i18n "Feedback" }}</h3>
            <div class="poll-feedback">
                {{{feedback}}}
            </div>
        {{/if}}
    </div>
</script>
